%h4 Directions

%p The house is 7 miles (15 mins) south of Forres, 30 miles (up to an hour) east of Inverness, and 150 miles north of Edinburgh (minimum of 3 hours by car).

%p

%img.map{:alt => "BT location", :src => "/assets/btlocationmap.jpg", :title => "BT location"}

%p

%h4 By train

%p From Edinburgh, you can get to Forres station in about 4/4.5 hours either via Inverness or Aberdeen.

%p
  If you’re coming from London, you can get good deals in advance on
  = succeed "." do
    %a{:href => "http://www.eastcoast.co.uk/", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.eastcoast.co.uk']);", :target => "_blank"} East Coast
  A 09:00 train will get you into Inverness just after 17:00 (changing in Edinburgh), and the midday train is direct, arriving just after 20:00.
  %a{:href => "http://www.scotrail.co.uk/caledoniansleeper/index.html", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.scotrail.co.uk']);", :target => "_blank"} The sleeper
  leaves Euston at 21:15, arriving into Inverness at 08:30 (you will need to book well in advance).
%p
  For car hire at the station, try
  %a{:href => "http://www.focusvehiclerental.co.uk/index.php", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.focusvehiclerental.co.uk']);", :target => "_blank"} Focus
  (local firm) and
  = succeed "." do
    %a{:href => "http://www.budget.co.uk/", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.budget.co.uk']);", :target => "_blank"} Budget
%p

%h4 By car

%p Head north from Perth on the A9, and take the first turning right after Aviemore, following signs to Grantown-on-Spey. Go through the town and head north, direction Nairn/Forres, and follow the A939, and then A940 towards Forres. You need to turn right off this road a few miles short of Forres (contact us for final detailed directions to the house).

%p

%h4 By plane

%p
  %a{:href => "http://www.hial.co.uk/inverness-airport/", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.hial.co.uk']);", :target => "_blank"} Inverness airport
  is about 25 miles/45 minutes away, and is served by flights from Gatwick (easyJet/Flybe), Luton (easyJet), Bristol (easyJet), Birmingham (Flybe) and Manchester (Flybe). You can hire a car from
  %a{:href => "http://www.avis.co.uk/default.aspx", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.avis.co.uk']);", :target => "_blank"} Avis
  and
  = succeed "." do
    %a{:href => "http://www.europcar.co.uk/", :onclick => "javascript:_gaq.push(['_trackEvent','outbound-article','http://www.europcar.co.uk']);", :target => "_blank"} Europcar
%p &nbsp;